<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="KuzeyYeli" connectionString="Server=N90008820\SQLEXPRESS; Database=Northwind; User=sa; Pwd=Turuncu12" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
  
</configuration>